@(message: String, isLoggedIn: Boolean, userInfo: UserModel)

@main(message, isLoggedIn, userInfo) {
    <div class="container">
        @for(index <- 0 until CartModel.shoesInCart.length) {
         <div class="row">
            <div class="col-lg-12 col-md-12 mb-12">
                <div class="row">
                    <div class="col-md-4"><a href="#"><img class="d-block img-fluid" src="@CartModel.shoesInCart.get(index).photo" alt=""></a></div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@CartModel.shoesInCart.get(index).name</a>
                            </h4>
                            <h5>$@CartModel.shoesInCart.get(index).price</h5>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-danger" href="@routes.CartController.removeFromCart(index)">Remove from cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Sum</a>
                            </h4>
                            <h5>$@CartModel.sum()</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- /.row -->
    </div>
        <!-- /.container -->
}
