@(message: String)

@main(message) {
    <div class="container">
                <div class="row">



                            <p>
                                <input type="email" name="email" placeholder="Email" id="email">
                            </p>
                            <p>
                                <input type="password" name="password" id="password" placeholder="Password">
                            </p>
                            <p>
                                <button type="submit" id="loginbutton">Login</button>
                            </p>


                </div>
                    <!-- /.row -->
            </div>

        <!-- /.container -->
}