@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/web-fonts-with-css/css/fontawesome.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.at("lib/font-awesome/web-fonts-with-css/css/fa-solid.css")'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        @content

        <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>
    </body>
</html>
